/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
	font-family: Merriweather-Bold;
	src: url("../../assets/fonts/merriweather/merriweather-bold.ttf");
}

@font-face {
	font-family: Merriweather-BoldItalic;
	src: url("../../assets/fonts/merriweather/merriweather-bolditalic.ttf");
}

@font-face {
	font-family: Merriweather-Light;
	src: url("../../assets/fonts/merriweather/merriweather-light.ttf");
}

@font-face {
	font-family: Merriweather-LightItalic;
	src: url("../../assets/fonts/merriweather/merriweather-lightitalic.ttf");
}

@font-face {
	font-family: Novecentosanswide-DemiBold;
	src: url("../../assets/fonts/novecento/novecentosanswide-demibold.ttf");
}

@font-face {
	font-family: Novecentosanswide-Normal;
	src: url("../../assets/fonts/novecento/novecentosanswide-normal.ttf");
}
